.h1-index{
    padding-bottom: 2rem;
    padding-top:1rem;

}
.first-principal{
    display:flex;
    justify-content: center;
    
}
.second-principal{
    display:flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    padding-inline: 10rem;
}
.second-principal img{
    transform: translateY(0px);
    animation: float 5s ease-in-out infinite;
   
}
@keyframes float{
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-10px);
    }
    100%{
        transform: translateY(0px);
    }
}

.logo-principal{
    width:8.3125rem;
    height:7.9375rem;

}
.image-index{
    width: 431px;
    height: 557px;
    display:block;
    margin:5px auto;

}
.p-principal-index{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 38px;
    color: #828282;

}

.p-principal-index{
    width:26rem;
    padding:1.5rem;
    margin-bottom:5rem;
    text-align: center;
    color:#3C3B3B;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
}
#deficientes-visuais{
    background-color: #F9F6F6;
    display:flex;
    padding-block: 2rem;
   
}
#deficientes-visuais h2{
    padding-block:3rem;
}
#deficientes-visuais img{
    padding-left:8rem;
    padding-right: 6rem;
}

.display-deficientes{
    justify-content: center;
    padding-inline:4rem;
}
#tecnologia-assistiva{
    background: linear-gradient(180deg, #0C1067 0%, #FE68F8 91.15%);
    padding: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}

#tecnologia-assistiva h2,
#tecnologia-assistiva p{
    padding-top: 1rem;
    color:#Fff;
}
#tecnologia-assistiva p{
    width:60.75rem;
    text-align: center;
    display:flex;
    justify-content: center;
}
#tecnologia-assistiva img{
    display: flex;
    justify-content: center;
    align-items: center;
    width:8rem;
}
#dificuldade{
    background-color: #F9F6F6;
    display:block;
    margin:20px auto;
    justify-content:center;
    max-width:70%;
}
.dificuldade{
    background: linear-gradient(180deg, #0C1067 0%, #FE68F8 91.15%);
    border-radius: 20px;
    padding-inline:5px;
    display: flex;
    justify-content: space-around;

}

.dificuldade h2{
    color:#Fff;
    padding-top: 4rem;
    padding-bottom: 2rem;

}
.dificuldade p{
    color:#Fff;
   /* width: 27.9375rem; */
   max-width:27rem;

}
.dificuldade img{
   display:block;
   margin:90px auto;
   max-width:80%;
}
#objetivo{
    background-color: #65319D;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#objetivo h2,
#objetivo p{
    color:#fff;
}
#objetivo img{
    width:8.8125rem;
    height:8.4375rem;
}
#objetivo p{
    padding-top:3rem;
    width:53.1875rem;
}

.p-frase-index{
    padding-inline:2rem;
    text-align: center;
}

/*
    Parte do slide - index
*/
#slide-index{
    min-height: 70vh;
    display: flex;
    align-items:center;
    justify-content: center;
    background-color: #efefef;
}
.slide-container{
    max-width: 1120px;
    width:100%;
    background-color: #efefef;
    border-radius:20px;
    padding:20px 0;
}
.slide-content{
    margin:50px 50px;
    overflow: hidden;
    border-radius: 25px;
}
.card{
    border-radius: 25px;
    background-color: #fff;
}
.image-content,
.card-content{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding:10px 14px;
}
.image-content{
    position: relative;
    row-gap: 5px;
    padding:25px 0;
    
}
.overlay{
    position: absolute;
    left:0;
    top:0;
    height:100%;
    width:100%;
    background-color: #65319D;
    border-radius: 25px 25px 0 25px;
}
.overlay::before,
.overlay::after{
    content:'';
    position: absolute;
    right: 0;
    bottom:-40px;
    height:40px;
    width:40px;
    background: #65319D;
}
.overlay::after{
    border-radius:0 25px 0 0;
    background-color: #fff;
}
.card-image{
    position:relative;
    height:150px;
    width:150px;
    border-radius: 20%;
    background: #F9F6F6;
    padding:3px;
}

.card-image .card-img{
    height:100%;
    width:100%;
    object-fit:cover;
    border-radius: 20%;
    border:4px solid #ac64f9;
}
.name{
    font-size:18px;
    font-weight: 550;
    color: #5e5d5d;
}
.description{
    font-size:14px;
    color:#707070;
    text-align:center;
}
.button{
    border:none;
    font-size:16px;
    color:#fff;
    padding:8px 16px;
    background-color: #65319D;
    border-radius: 6px;
    margin:14px;
    cursor:pointer;
    transition:all .3s ease;
}
.button:hover{
    background:#c211da;
}
.swiper-navBtn:hover{
    color:#c211da;
    transition:color .3s ease;

}
.swiper-navBtn{
    color:#180829;
    
}
.swiper-navBtn::before,
.swiper-navBtn::after{
    font-size: 40px;
    
}
.swiper-button-next{
    right:0;
}
.swiper-button-prev{
    left:0;
}
.swiper-pagination-bullet{
    background-color: #65319D;
    opacity: 1;
}
.swiper-pagination-bullet-active{
    background-color: #65319D;
}

/*@media (max-width:800px){ 
    .slide-content{
        margin:0 10px;
    }
    .swiper-navBtn{
        display:none;
    }
    .first-principal{
        flex-direction: column;
    }
    #sobre-header{
        flex-direction: column;
    }
    img .image-index{
        display: flex;
        justify-content: center;
    }
    .deficientes-visuais{
        flex-direction: column;
    }
    #frase{
        width:300px;
        padding:0px;
    }
    #objetivo .p {
        width:360px;
    }
}
*/
