#materiais-header{
    display:flex;
    padding-block:1rem;
    padding-inline:4rem;
}
#materiais-header img{
    display:flex;
    margin-top:3.2rem;
    width:13.1875rem;
    height:12.625rem;
    transform: translateY(0px);
    animation: float 5s ease-in-out infinite;
   
}
@keyframes float{
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-10px);
    }
    100%{
        transform: translateY(0px);
    }
}
#como-fazer{
    background-color: #F9F6F6;
    padding-block:5rem;
    text-align: center;
    width:100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#como-fazer h2{
    padding-bottom: 1.2rem;
}
#como-fazer p{
    width:56.875rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
#materiais{
    background-color: #EAE7E7;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    width: auto;

}
.material{
    padding-top: 2.5rem;
    display:flex;
    flex-direction: column;
}
.material img{
    margin:0 auto;
    display:block;
    max-width:100%;
}
.conector-bateria{
    width:265px;
    height:237px;
}

.numero-animacao{
    transform: translate(-50%, -50%);
    animation: anim 2s infinite alternate linear;
    border-radius:20%;
    margin-top:1.5rem;
    margin-left:1.5rem;
    width:2.5rem;
    height:2.5rem;
    text-align: center;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}
.numero{
    color:#fff;
    font-weight: 500;
}

@keyframes anim{
    0%{
        background: #d002f5;
    }
    25%{
        background: #e320fd;
    }
    50%{
        background: #e05cf5;
    }
    75%{
        background: #841fa3;
    }
    100%{
        background: #590366;
    }
}
.nome-materiais{
    display:flex;
    padding-top:.4rem;
    padding-inline: .1rem;
    flex-direction:row;
}
.preco{
    position: relative;
    bottom:1.2rem;
    margin-left: 4rem;
    font-size: 1rem;

}
.numero-nome{
    display:flex;
    
}
#projeto-em-andamento{
    background: linear-gradient(180deg, #0C1067 0%, #FE68F8 91.15%);
    padding:2rem;
}
#projeto-em-andamento h2{
    color:#fff;
    padding-bottom:2rem;
}
.projeto-em-andamento-fotos{
    display: flex;
    justify-content: center;
}
#projeto-em-andamento img{
    margin-left:1rem;
    padding-bottom:1.5rem;
}